* {
    background-color: lightslategray;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border: 5px solid darkslategray;
    float: left;
    height: auto;
    margin: 30px;
    width: 500px;
}
.no-margin {
    margin: 0px;
}
